@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Oswald:ital,wght@0,400;0,700;1,400&display=swap');
#content { max-width: 1600px;
margin: 0 auto;}
nav a{text-align: center;
color: #d1faff ;
text-decoration: none;}
#hero-msg h1{text-align: center;
color: #d1faff ;}
#hero-msg h4{text-align: center;
color: #d1faff ;}
.buton-box{text-align: center;
color: #d1faff ;}
main section{text-align: center;
color: #d1faff ;}
#background{height: 725px;
color: #d1faff ;}
body{background-color: teal;
color: #d1faff ;
font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
font-size: 22px;
padding: 0;
margin: 0;}
header{background-color: forestgreen;
color: #d1faff ;}
nav a:hover{background-color: #57a773;
color: #d1faff ;}
.book{background-color: #57a773;
color: #d1faff ;}
.join{background-color: #57a773;
color: #d1faff ;}
.book:hover{background-color: #57a773;
color: #d1faff ;}
 .join:hover{background-color: #57a773;
color: #d1faff ;}
.msg{background-color: #57a773;
color: #d1faff ;
line-height: 1.5em
}
footer{background-color: #57a773;
    color: #d1faff ;
padding: 25px 50px;
margin-top: 200px;}
.icon{width: 80px;
padding-top: 10px;}
#hero-img{width: 100%;}
.book, .join{text-decoration: none;
font-size: 18px;
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;
}
 
footer a{text-decoration: none;}
footer p a:hover {
    text-decoration: underline;
}    
.Logo{width: 80px;}
.home-title{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2{
    font-family:"Oswald", Arial, Helvetica, sans-serif;

}
.msg p{
    font-size: 0.8em;
    padding-bottom: 15px;
}
.msg{
    padding: 35px;
}

h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
nav a{
    padding: 35px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid black;

}
main section img {
    box-sizing: border-box;
}
