body{
    background-color: black;
}
#qender{
    margin: 0 auto;
    width: 300px;
    background-color: white;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 195px 335px 95px;
    border-radius: 5%;


}
#foto{
    grid-row: 1;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
#fund{
    grid-row: 3;
    grid-column: 1/4;
    background-color: #3f5b8b;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    display: grid;
    grid-template-columns: 100px 100px 100px;    
}

#fund h4:nth-child(2) {
    border-left: solid 1px white;
    border-right: solid 1px white;
    width: 100%;
}

#para{
    grid-row: 2;
    grid-column: 1/4;
}
h5{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #3f5b8b;
    margin-bottom: 4px;
}
h3{
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 4px;
}
p{
    text-align: center;
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
}
h4{
    text-align: center;
    grid-column: 1;
    color: white;
}
#mes{
    text-align: center;
    grid-column: 2;
    color: white;
    margin-bottom: 2px;
}

#djatht{
    text-align: center;
    grid-column: 3;
    color: white;
}
